@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1560px;
  /* max-width: 100%; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-inline: auto;
  scroll-behavior: smooth;
  background-color: #fff;
}

@layer utilities {
  .container{
    @apply lg:max-w-5xl mx-auto
  }
}
